<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/general.css">
    <link rel="stylesheet" href="../../css/login.css">

    <title>Register</title>
</head>
<body>
    <main class="main-account">
        <div class="div-login">
            <h1>Register</h1>
            <div class="inputbox">
                <input id="username" class="user-log" placeholder="Username" required>
            </div>
            <div class="inputbox">
                <input id="password" class="psw-log" type="password" placeholder="Password" required>
            </div>
            <div class="inputbox">
                <input id="confirm-password" class="psw-log" type="password" placeholder="Confirm password" required>
            </div>
            <button type="submit" class="login-submit" onclick="tryRegister()">Register</button>
            <div class="register-link">
                <p>Do you have an account yet? <a href="../login">Login</a></p>
                <div class="showPSW"><input type="checkbox" id="showpsw" on><label for="showpsw">Show password</label></div>
            </div>
        </div>
    </main>
    <script src="../../js/api.js"></script>
    <script src="../../js/login.js"></script>
    <script src="../../js/routes.js"></script>
    <script src="../../js/ejs.min.js"></script>
    <script src="../../js/views.js"></script>

</body>
</html>