<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/general.css">
    <title>Home</title>
</head>
<body>
    <header id="header-index">
        <div id="header-right">
            <a class="logo"><img src="../../images/logo.png" alt=""></a>
        </div>

    </header>
    <main class="main-index">
        <div class="loader"></div>
    </main>
    <footer>
        <p>Made By Sergio Boffi ©</p>
        <p>For any need, contact me at → boffis@usi.ch</p>
    </footer>
    <script src="../js/api.js"></script>
    <script src="../js/login.js"></script>
    <script src="../js/routes.js"></script>
    <script src="../js/ejs.min.js"></script>
    <script src="../js/views.js"></script>
    <script src="../js/waiting.js"></script>

</body>
</html>